<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--vincular o arquivo do css-->
    <link rel="stylesheet" href="css/estilo.css">

</head>
<body>
    <header>
        <img src="imagens/logoSenai.png" alt=""> <!--inserindo a imagem-->
    </header>

    <article>
        <h3>Faça o login</h3>
        <!--Inicia o formulário -->
        <form action="">
            <label for=""> Usuario ou email</label>
            <input type="text" name="usuario">
            <label for="">senha</label>
            <input type="text" name="senha" id="">
            <label for="">Esqueceu sua senha?</label>
            <label for="">Alias</label>
            <input type="text" name="alias" id="">
            <input type="button" value="Acessar">

        </form>
    </article>
</body>
</html>